/* Global Styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Container */
.app-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
}

/* Title */
h1 {
  text-align: center;
  color: #333;
}

/* Input and Button */
.input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 70%;
  outline: none;
  font-size: 14px;
}

button {
  padding: 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background-color: #218838;
}

/* Task List */
.task-list {
  list-style: none;
  padding: 0;
  color:black
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.task span {
  cursor: pointer;
}

.task.completed span {
  text-decoration: line-through;
  color: #888;
}

/* Delete Button */
.delete-button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  color: #dc3545;
  cursor: pointer;
}

.delete-button:hover {
  color: #c82333;
}
